In [1]:
# Dependencies
import pandas as pd

In [2]:
apt_file = 'cdmx_apartments.json'
houses_file = 'cdmx_houses.json'

In [12]:
house_df = pd.read_json(houses_file)
apt_df = pd.read_json(apt_file)

cdmx_frames = [house_df, apt_df]
cdmx_df = pd.concat(cdmx_frames)
cdmx_df

,url,type_of_offer,type_of_prop,name,price,currency
0,https://casa.metroscubicos.com/MLM-959196566-c...,sale,houses,Casa En Venta En Condominio En San Jerónimo,10490000,MXN
1,https://casa.metroscubicos.com/MLM-959669649-c...,sale,houses,"Casa En Venta Con Uso De Suelo, Obrera, Cuauht...",6350000,MXN
2,https://casa.metroscubicos.com/MLM-940901336-v...,sale,houses,Vendo O Cambio Casa En Cdmx Y Terreno En Toluca,850000,MXN
3,https://casa.metroscubicos.com/MLM-911716076-v...,sale,houses,"Venta Casa, Tecamac, Estado De México, Residen...",1690000,MXN
4,https://casa.metroscubicos.com/MLM-877491739-c...,sale,houses,"Casa En Venta En Metepec, Con Rápida Salida A ...",6500000,MXN
...,...,...,...,...,...,...
91,https://departamento.metroscubicos.com/MLM-946...,sale,apartments,Venta Depa Amplio Y Super Remodelado En La Rom...,4495000,MXN
92,https://departamento.metroscubicos.com/MLM-944...,sale,apartments,"Venta Departamento Del Valle, Df. Entrega Novi...",5454042,MXN
93,https://departamento.metroscubicos.com/MLM-957...,sale,apartments,"Venta Depa Acabados De Lujo En Cuauhtemoc, Df!...",3927600,MXN
94,https://departamento.metroscubicos.com/MLM-957...,sale,apartments,"Preventa Genial Depa Cuajimalpa, Df! Cat22-135",3338400,MXN
95,https://departamento.metroscubicos.com/MLM-957...,sale,apartments,"Estrena Hoy Fabuloso Depa En La Del Valle, Df!...",5499700,MXN

In [13]:
cdmx_df.dtypes

url              object
type_of_offer    object
type_of_prop     object
name             object
price             int64
currency         object
dtype: object

In [ ]:
cdmx_df.drop_duplicates

In [21]:
cdmx_df['type_of_prop'].value_counts()

houses        432
apartments     96
Name: type_of_prop, dtype: int64

In [20]:
cdmx_df['currency'].value_counts()

MXN    521
USD      7
Name: currency, dtype: int64

In [ ]:
cdmx_df.drop

In [18]:
cdmx = cdmx_df.loc[cdmx_df["country"] == "us", :]
usa_ufo_df.head()

              price
count  5.280000e+02
mean   9.958749e+06
std    1.063688e+07
min    1.358000e+03
25%    2.977500e+06
50%    6.600000e+06
75%    1.290000e+07
max    7.850000e+07